
AzureTestCaseAssociator/bin/

AzureTestCaseAssociator/obj/

AzureTestCaseAssociator.Core/bin/

AzureTestCaseAssociator.Core/obj/

nupkgs/

AzureTestCaseAssociator.Tests/bin/

AzureTestCaseAssociator.Tests/obj/
